.sidebarChat {
  display: flex;
  /* justify-content: space-between; */
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6; /*solid*/
}
.sidebarChat:hover {
  /* background-color: #c0c2b3; #ebebeb */
  background-color: #ebebeb;
}
.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
.sidebarChat__info {
  margin-left: 15px;
}
